body {
  font-family: "Roboto","Noto Sans TC", sans-serif;
  background-color:	#FFE66F;
}

.wrap{
  display: inline-block;
  width: 250px;
  height: 200px;
  border:1px solid #000;
  position: relative;
  left:100px;
  top:100px;
}

.container{
  width: 700px;
  margin: 0 auto;
  background-color:#FFF4C1;
  border-radius: 15px;
  padding: 20px;
  margin: 0px auto ;
  border: 5px solid #000;
}

table,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: left;
  font-size: 24px;
  text-align: center;
}

table {
  width: 700px;
  height: 300px;
  border: none;
}

tr,
td {
  width: 100px;
  height: 50px;
  padding: 10px;
  border: none;
}

table td:first-child {
  color: red;
  font-weight: bold;
}

table tr:first-child {
  background-color: rgb(226, 218, 169);
  line-height: 50px;
}



table td:last-child {
  color: #00cc00;
  font-weight: bold;
}

.today{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #FFE66F;
  border-radius: 40px;
  line-height: 40px;
}


.btn {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn a{
  display: inline-block;
  margin: 10px 20px;
  text-decoration: none;
}

select{
  width: 80px;
  height: 30px;
  text-align: center;
  text-align-last: center;
  background-color: #FFF4C1;
  border-radius: 10px;
  border-color: chocolate;
}
select:focus{
  outline:none;
}






